<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{okta.web.login.title}">|Login|</title>
    <!--/*/ <th:block th:include="${headViewName} :: ${headFragmentSelector}"/> /*/-->
</head>
<body class="login">
<div class="container custom-container">
    <div class="va-wrapper">
        <div class="view login-view container">
            <div class="box row">

                <div id="okta-login-container"></div>

            </div>
        </div>
    </div>
</div>

<script th:inline="javascript">
/*<![CDATA[*/

var config = /*[[${extraWidgetConfigMap}]]*/ {};

config.baseUrl = /*[[${oktaBaseUrl}]]*/ 'https://{yourOktaDomain}.com';
config.clientId = /*[[${oktaClientId}]]*/ '{oktaClientId}';
config.redirectUri = /*[[${#httpServletRequest.scheme + '://' + #httpServletRequest.serverName + ':'+#httpServletRequest.serverPort+#httpServletRequest.contextPath} + ${redirectUri}]]*/ '{redirectUri}';
config.logo =/*[[${logoUri}]]*/ '/path/to/logo.png';
config.authParams = {
  issuer: /*[[${issuerUri}]]*/ '{issuerUri}',
  responseType: 'code',
  state: /*[[${state}]]*/ '{state}' || false,
  scopes: /*[[${scopes}]]*/ '[scopes]',
  display: 'page'
};

new OktaSignIn(config).renderEl(
  { el: '#okta-login-container' },
  function (res) {}
);
/*]]>*/
</script>

</body>
</html>
