version: 2.1

aliases:

  - &build_steps
    - checkout
    - run: java -version
    - run: ./mvnw -ntp clean install -Pci 

jobs:
  
  jdk17:
    docker:
      - image: cimg/openjdk:17.0.5
    environment:
      JVM_OPTS: -Xmx3200m
    steps: *build_steps
    
workflows:
  build_and_test:
    jobs:
      - jdk17
